@import "constants";
@import "compass";
@import "mixins";

$header-margin-top: 2em;
$wide-screen-header-size: 51px;

header {
 a {
  display: block;
  text-align: right;
  margin: 5px 5px 5px 0;
}
img {
  float: left;
  margin-top: 15px;
  margin-left: 2%;

  @include for(medium-screens) {
    float: none;
    margin:0 0 10px 20px;
  }

  @include for(handhelds) {
    float: none;
    margin:0 0 10px 20px;
  }
}

.form-search {
  padding: 0.8em 1em;
  @include background-image(linear-gradient($gradient-top, $gradient-bottom));

  @include for(handhelds) {
    input {
      display: block;
      width: 100%;
      height: auto;
      @include box-sizing(border-box);
    }
  }

  @include for(medium-screens) {
   input {
    display: block;
    width: 100%;
    height: auto;
    @include box-sizing(border-box);
  }
}

@include for(wide-screens) {
  margin-left: $sidebar-width;
  @include border-left-radius(0.3em);
}

button {
  margin-left: 0.5em;

  @include for(handhelds) {
    display: block;
    width: 100%;
    margin: 0.5em 0 0;
  }

  @include for(medium-screens) {
    margin: 0.5em 0 0;
  }
}
}

.form-upload {
  input {
    display: block;
  }

  @include for(wide-screens) {
    margin-left: $sidebar-width;
  }

  .hidden {
    height: 0px;
    width: 0px; 
    overflow: hidden;
  }
}
}