@import "mixins";

body {
	color: $text-color;
}

.main {
	margin: 0 auto;
	width: 90%;

	@include for(wide-screens) {
		max-width: $break-large;
	}
}

.spinner{
	margin-left: 50%;
	margin-top: 50px;
}